<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easyjetpack">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyLifecycleOwnerActivity" />
        <activity android:name=".viewmodel.ViewModelActivity" />
        <activity android:name=".livedata.LiveDataActivity" />
        <activity android:name=".workmanager.WorkManagerActivity" />
        <activity android:name=".workmanager.WManagerActivity" />

<!--        <provider-->
<!--            android:name="androidx.startup.InitializationProvider"-->
<!--            tools:node="merge"-->
<!--            android:authorities="${applicationId}.androidx-startup"-->
<!--            android:exported="false">-->
<!--            &lt;!&ndash; If you are using androidx.startup to initialize other components &ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="androidx.work.WorkManagerInitializer"-->
<!--                tools:node="remove"-->
<!--                android:value="androidx.startup" />-->
<!--        </provider>-->
    </application>


</manifest>